black>=24.3.0
flake8>=3.7.9, <5.0
ipython>=8.10.0; python_version >= '3.8' 
isort~=5.0
jupyter~=1.0
jupyterlab_server>=2.11.1, <2.16.0
jupyterlab>=3.6.8
kedro~=0.18.14
kedro-telemetry~=0.2.0
nbstripout~=0.4
pytest-cov~=3.0
pytest-mock>=1.7.1, <2.0
pytest~=7.2
# Pin problematic traitlets release -  https://github.com/jupyter/notebook/issues/7048
traitlets<5.10.0
# Project specific
kaggle~=1.5.16
kedro-datasets[pandas.ParquetDataset]
kedro-datasets[matplotlib.MatplotlibWriter]
kedro-viz
scikit-learn>=1.5.0
shap~=0.44.0
streamlit>=1.37.0
plotly~=5.18.0
kedro-mlflow~=0.13.1
